baseURL = 'https://velocrush.ch/'
languageCode = 'de-ch'
title = 'Velo Crush'
theme = 'velocrush'
sectionPagesMenu = 'main'

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.parser]
      [markup.goldmark.parser.attribute]
        block = true
        title = true
