@import url("https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap");

body {
  background-image: url("/background.png");
  margin: 0;
  padding: 0;
  font-family: "Albert Sans", sans-serif;
  color: #fff;
  line-height: 1.6;
}

header {
  padding: 2em;
  text-align: center;
}

header #sticky-menu {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

header #sticky-menu a {
  display: block;
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
}

header #sticky-menu a:hover {
  transform: scale(1.1);
}

header #sticky-menu object {
  width: 100%;
  height: 100%;
}

header h1 {
  background-image: url("/logo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  font-size: 0;
  margin: 0;
  font-weight: 600;
  width: 300px;
  height: 300px;
}

main {
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  padding: 20px;
  font-weight: 600;
}

main a {
  color: inherit;
}

main h2 {
  font-size: 12pt;
}

main p {
  margin: 10px;
}

main #address {
  margin: 50px 10px;
}

main #contact {
  margin: 50px 10px;
}

main #contact a[href^="tel:"] {
  text-decoration: none;
}

main #opening-times {
  margin: 50px auto;
  text-align: left;
  width: 9em;
}

main #velo {
  margin: 50px 10px;
}

main #velo img {
  max-width: 100%;
}

footer p {
  font-size: 10pt;
  margin: 10px;
  text-align: center;
}

footer p a {
  color: inherit;
}
