@import url("https://fonts.googleapis.com/css2?family=Atomic+Age&display=swap");

body {
	background-image: url("/background.png");
	margin: 0;
	padding: 0;
	font-family: "Albert Sans", sans-serif;
	color: #fff;
	line-height: 1.6;
}

header {
	padding: 2rem;
	text-align: center;
}

header h1 {
	background-image: url("/logo.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	font-size: 0;
	margin: 0;
	font-weight: 600;
	width: 300px;
	height: 300px;
}

header h1 a {
	text-decoration: none;
	color: inherit;
}

nav {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-top: 1rem;
}

nav li {
	display: inline-block;
	margin-right: 2em;
}

nav a {
	text-decoration: none;
	font-weight: 500;
}

main {
	max-width: 720px;
	margin: 4rem auto;
	padding: 0 1rem;
	line-height: 1.6;
}

main h1 {
	margin-bottom: 1.5rem;
	font-size: 2rem;
	font-weight: 600;
}

main h2 {
	margin-top: 2.5rem;
	font-weight: 500;
}

main ul {
	list-style: disc;
	padding-left: 1.5rem;
	margin-bottom: 1.5rem;
}

main a {
	color: inherit;
	text-decoration: underline;
}

main p {
	margin-bottom: 1rem;
}

footer {
	text-align: center;
	padding: 2rem;
	font-size: 0.9rem;
}
