<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div id="sticky-menu">
      <a href="https://www.instagram.com/velocrushzurich/">
        <object type="image/svg+xml" data="instagram.svg"></object>
      </a>
      <a href="https://maps.app.goo.gl/LuRZxHbZQVNrpNVb8">
        <object type="image/svg+xml" data="google.svg"></object>
      </a>
    </div>

    <header>{{ partial "header.html" . }}</header>

    <main>{{ block "main" . }}{{ end }}</main>
    <footer>{{ partial "footer.html" . }}</footer>
  </body>
</html>
