<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div id="sticky-menu">
      <a href="https://www.instagram.com/velocrushzurich/" class="instagram">
        <span class="icon">Instagram</span>
      </a>
      <a href="https://maps.app.goo.gl/LuRZxHbZQVNrpNVb8" class="google">
        <span class="icon">Google</span>
      </a>
    </div>

    <header>{{ partial "header.html" . }}</header>

    <main>{{ block "main" . }}{{ end }}</main>
    <footer>{{ partial "footer.html" . }}</footer>
  </body>
</html>
